* {
    font-family: "Prompt", sans-serif;
}

.userbar41 {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: rgba(242, 130, 73, 0.791); 
    padding: 10px 25px;
    width: 100%;
}

.container41 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.brand41 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffe4cb;
    text-decoration: none;
    text-shadow: 2px 2px 3px black; 
}

.nav-links41 {
    display: flex;
    gap: 65px;
}

.nav-links41 a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px black; 
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-links41 a:hover {
    color: #ffe4cb;
    text-shadow: 1px 1px 3px black;
}

.toggle-btn41 {
    display: none;
}
