/* BookCard.css */
.book-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .book-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 8px;
  }
  