.new-arrivals39 {
    text-align: center;
    margin: 50px 0;
    overflow: hidden;
  }
  
.new-arrivals39 h2 {
    font-size: 3.1rem;
    margin-bottom: 20px;
    font-family: "Prompt", sans-serif;
    color:beige;
  }
  
.new-arrivals39 a {
    color: white; /* Default color */
    text-decoration: none;
  }
  
.new-arrivals39 a:visited {
    color: white; /* Prevent purple color after visiting */
  }
  
.new-arrivals39 a:hover {
    color: lightgray; /* Optional: Change color on hover */
  }
  
.new-arrivals39 a:active {
    color: white; /* Prevent red color on click */
  }

  .conveyor-belt {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .book-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  
  .book {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
  }
  
  .book img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .book p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Prompt", sans-serif;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  