.header-splash {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ff0077, #ff9900, #ffcc00, #00ffcc, #0000ff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Poppins', sans-serif;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .header12-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .logo12-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -90px;
    margin-bottom: -20px;
    margin-left: -330px;
  }
  
  .logo12 {
    width: 260px; /* Increased size for big owl */
    height: auto;
    margin-left: 250px;
  }
  
  .logo12-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: -50px;
    font-size: 2.9rem;  /* Bigger stacked font */
    font-weight: 900;
    color: #FCE8C8;
    text-align: left;
    line-height: 1.1;
    font-family: "Prompt", sans-serif;
    text-shadow: 4px 4px 0px #613B1F;
    animation: fadeIn 2s ease forwards;
  }
  

  .splash-text {
    font-size: 2rem;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideIn 1.5s ease-out forwards;
    animation-delay: 1s;
  }

  
  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .slide-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 1.5s ease-out forwards;
  }
  
  .logo12-container.slide-up {
    animation-delay: 0.3s;
  }
  
  .logo12-text.slide-up {
    animation-delay: 0.6s;
  }
  
  .splash-text.slide-up {
    animation-delay: 0.9s;
  }
  
  @keyframes fadeSlideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1 {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .cta12-button {
    background-color: #FFA500;
    color: white;
    font-size: 1.2rem;
    padding: 12px 28px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    border-radius: 50px; /* Rounded corners */
    opacity: 0; /* Initially hidden for animation */
    transform: translateY(30px); /* Prepare for slide-up */
    animation: fadeSlideUp 1.5s ease-out forwards;
  }
  
  .cta12-button.slide-up {
    animation-delay: 1.2s; /* Appear after text */
  }
  
  .cta12-button:hover {
    background-color: #FF4500;
  }
  