/* App.css */

body {
    font-family: 'Prompt', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  
  .heading4 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
  }
  
  .book-list4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .book-card4 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .book-card4:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .book-title4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .book-author4 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .book-date4 {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
  }
  
  .book-quantity4 {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
  }
  